body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #0b1320;
  color: #ffffff;
}

.header {
  background-color: #111827;
  text-align: center;
  padding: 50px 20px;
  border-bottom: 3px solid #facc15;
}

.header h1 {
  margin: 0;
  color: #facc15;
}

.section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.section h2 {
  color: #facc15;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  font-size: 14px;
}
